<%= link_to "Task Update Reminder", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
      <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
  <% else %>
      <li><%= link_to 'Login', new_user_session_path %></li>
  <% end %>
  <li class="divider-vertical"></li>
  <% if user_signed_in? %>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li class="divider-vertical"></li>
      <% if current_user.has_role? :admin %>
          <li><%= link_to 'Admin', users_path %></li>
          <li class="divider-vertical"></li>
      <% end %>
  <% else %>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li class="divider-vertical"></li>
  <% end %>
  <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
  <li class="divider-vertical"></li>
</ul>
<ul class="nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="socials"><!-- Place this tag where you want the +1 button to render -->
        <g:plusone annotation="inline" width="150"></g:plusone>
      </li>
      <li class="socials">
        <div class="fb-like" data-send="false" data-width="150" data-show-faces="true"></div>
      </li>
      <li class="socials"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      </li>
    </ul>
  </li>
</ul>